@import 'leaflet/dist/leaflet.css';
@import "@maptiler/sdk/dist/maptiler-sdk.css";
@import 'mapbox-gl/dist/mapbox-gl.css';

#map {
    height: 100vh;
    width: 100vw;
}

.mapboxgl-popup-content {
    color: black;
    padding: 20px;
}

.mapboxgl-popup {
    padding: 5px;
}

.mapboxgl-popup-close-button {
    margin: 5px;
}

/* Style du HUD et de la barre d'items */
#hud {
    z-index: 9999;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 100svw;
    height: 150px;
    background: linear-gradient(0deg, rgba(34,193,195,0) 0%, rgb(143, 143, 143) 100%);
}

.bars {
    gap: 10px;
    height: fit-content;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

/* Positionnement de la barre de vie */
.health-bar {
    display: flex;
    gap: 10px;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 12px;
}

/* Style pour chaque cœur */
.heart-full {
    width: 20px;
    height: 20px;
    color: red;
}

.food-bar {
    display: flex;
    gap: 10px;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 12px;
}

.food-full {
    width: 20px;
    height: 20px;
    color: #fd6a39;
}

/* Barre d'items */
.item-bar {
    position: relative;
    display: flex;
    gap: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 12px;
}

.slots {
    display: flex;
    gap: 10px;
}

/* Style pour chaque slot d'item */
.item-slot {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: border-color 0.2s ease;
}

.item-slot:hover {
    border-color: #ffcc00;
    cursor: pointer;
    background-color: #7e7e7e;
}

.clock-container {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.loot-item:hover {
    cursor: pointer;
    text-decoration: underline;
}

.loot-item-rarity-rare {
    color: #008000;
}

.loot-item-rarity-very_rare {
    color: #0000ff;
}

.loot-item-rarity-epic {
    color: #ff00ff;
}

.loot-item-rarity-legendary {
    color: #ffcc00;
}

/* Inventory */
.inventory-overlay {
    position: absolute;
    top: 150px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.inventory-window {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    color: black;
}

.inventory-grid {
    display: grid;
    grid-template-columns: repeat(8, 50px); /* 8 colonnes de 50px */
    grid-template-rows: repeat(8, 50px);    /* 8 lignes de 50px */
    gap: 10px;
    max-width: 480px;  /* Largeur maximale pour s'assurer que la grille soit bien de 8 colonnes */
}


.inventory-item {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    padding: 5px;
}

.inventory-item:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
}

.item-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.item-quantity {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 2px 4px;
    border-radius: 3px;
    font-size: 12px;
}

.tooltip {
    position: absolute;
    /*bottom: 60px;*/
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 10;
}

/* Styles des bordures selon la rareté */
.rarity-common {
    border: 2px solid #cccccc; /* gris clair */
}

.rarity-rare {
    border: 2px solid #1e90ff; /* bleu */
}

.rarity-very_rare {
    border: 2px solid #8a2be2; /* violet */
}

.rarity-legendary {
    border: 2px solid #ffd700; /* doré */
}

